<!-- shamelessly stolen from telepathy.org -->

body {
  font-family: sans-serif;
  margin: 2em;
  height: 100%;
  font-size: 1.2em;
}
h1 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.6em;
  background: #dadae2;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.2em;
}
a:link, a:visited, a:link:hover, a:visited:hover {
  font-weight: bold;
}
.topbox {
  padding-top: 10px;
  padding-left: 10px;
  border-bottom: black solid 1px;
  padding-bottom: 10px;
  background: #dadae2;
  font-size: 2em;
  font-weight: bold;
  color: #5c5c5c;
}
.topnavbox {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #abacba;
  border-bottom: black solid 1px;
  font-size: 1.2em;
}
.topnavbox a{
  color: black;
  font-weight: normal;
}
.sidebar {
  float: left;
  /* width:9em;
  border-right:#abacba solid 1px;
  border-left: #abacba solid 1px;
  height:100%; */
  border: #abacba solid 1px;
  padding-left: 10px;
  margin-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  color: #5d5d5d;
  background: #dadae2;
}
.sidebar a {
  text-decoration: none;
  border-bottom: #e29625 dotted 1px;
  color: #e29625;
  font-weight: normal;
}
.sidebar h1 {
  font-size: 1.2em;
  color: black;
}
.sidebar ul {
  padding-left: 25px;
  padding-bottom: 10px;
  border-bottom: #abacba solid 1px;
}
.sidebar li {
  padding-top: 2px;
  padding-bottom: 2px;
}
.sidebar h2 {
  font-style:italic;
  font-size: 0.81em;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: normal;
}
.date {
  font-size: 0.6em;
  float: right;
  font-style: italic;
}
.method, .signal, .property {
  margin-left: 1em;
  margin-right: 4em;
}
.rationale {
  font-style: italic;
  border-left: 0.25em solid #808080;
  padding-left: 0.5em;
}

.added {
  color: #006600;
  background: #ffffff;
}
.deprecated {
  color: #ff0000;
  background: #ffffff;
}
table, tr, td, th {
  border: 1px solid #666;
}
